.gray-bg{
    background-color: #D9D9D9;
}

.brown-bg {
    background-color: #2F2219;
}

.black-txt {
    color: #000000;
}

.white-txt {
    color: #FFFFFF
}

.opaque {
    background-color: #D9D9D9;
    opacity: 50%;
}